[Unit]
Description=Service for run npm storybook
After=syslog.target
After=network.target

[Service]
Type=simple
{% if env_customization == "eu" %}
WorkingDirectory=/opt/hybris/bin/custom/eiacore/lynxstorefront
{% else %}
WorkingDirectory=/opt/hybris/bin/custom/cisstorefront
{% endif %}
User=hybris
Group=hybris
ExecStart=/bin/npm run storybook
Restart=always

[Install]
WantedBy=multi-user.target
