#!/bin/bash
PATH_TO_CONFIG={{ bamboo_agent_application_folder }}/bamboo-agent.cfg.xml
TMP={{ bamboo_agent_application_folder }}/tmp_
META_URL={{aws_meta_url}}

RESPONSE=false
COUNT=0
SLEEP=0
while ! $RESPONSE
do
        sleep $SLEEP
        INSANCE_ID=$(wget -q -O - $META_URL)
        python -m awscli ssm get-parameter --name $INSANCE_ID --query "Parameter.[Value]" 2>/dev/null >$TMP && RESPONSE=true || COUNT=$((COUNT+1))
        if [[ $COUNT -eq 60 ]]
        then
                shutdown
        fi
        SLEEP=10
done
IDS=$(cat $TMP)
AGENT_ID=${IDS%%,*}
AGENT_UID=${IDS##*,}

sed "/<id>/c <id>$AGENT_ID</id>" $PATH_TO_CONFIG | sed "/<agentUuid>/c <agentUuid>$AGENT_UID</agentUuid>" > $TMP
mv -f $TMP $PATH_TO_CONFIG
chown {{ bamboo_master_user }}:{{ bamboo_master_user }} $PATH_TO_CONFIG
systemctl restart bambooagent
