.idea
*.pyc
.terraform
*.tfstate.backup
*.tfstate
.vscode
*.rkestate
kube_config_cluster.y*ml
terraform/lambda-middleware/terraform.tfvars
terraform/lambda-zabbix-discovery/src/tmp
terraform/lambda-config-middleware/terraform.tfvars
terraform/lambda-sms/terraform.tfvars

production/terraform/microservice-lambda-sms/terraform.tfvars

# rendered module files
terraform/modules/tf-module-aws-eks/manifests/cluster-autoscaler
terraform/modules/tf-module-aws-eks/manifests/aws-alb-ingress/alb-ingress-controller.yaml
terraform/modules/tf-module-aws-eks/manifests/external_dns.yaml

**/src/app.zip

production/terraform/document-generator/eu-splunk-logs/terraform.tfvars
production/terraform/document-generator/in-splunk-logs/terraform.tfvars
production/terraform/lambda-logs/terraform.tfvars

terraform/lambda-pr-queue/terraform.tfvars

terraform/lambda/pull-requests-queue/terraform.tfvars

terraform/lambda/middleware/terraform.tfvars
terraform/lambda/create-pr-from-prod/terraform.tfvars
terraform/github-actions/ecs-self-hosted/terraform.tfvars
terraform/github-actions/ecs-self-hosted-pos-bos/terraform.tfvars
production/terraform/github-actions/ecs-self-hosted/terraform.tfvars

terraform/github-actions/scale-agent/src/cache.db
terraform/github-actions/scale-agent/terraform.tfvars

terraform/github-actions/allure-proxy/terraform.tfvars

terraform/github-actions/rds/terraform.tfvars

terraform-eu/lambda/*/terraform.tfvars
terraform-eu/github-actions/*/terraform.tfvars

terraform-eu/dev-debug/*.tfvars
