listen_addresses = '*'
max_connections = {{ pgsql_max_connections }}      
shared_buffers = {{ (((ansible_memtotal_mb/1024.0)|round|int)*0.25)|int*1024 }}MB
work_mem = {{ ((((ansible_memtotal_mb/1024.0)|round|int)*0.25)/(pgsql_max_connections)|int*1024)|round|int }}MB
maintenance_work_mem = {{ ((ansible_memtotal_mb/1024.0)|round|int)*64 }}MB
effective_cache_size = {{ (((ansible_memtotal_mb/1024.0)|round|int)*0.75)|int*1024 }}MB
checkpoint_completion_target = 0.7
wal_buffers = 16MB
default_statistics_target = 100
random_page_cost = 1.1
effective_io_concurrency = 200
min_wal_size = 1GB
max_wal_size = 2GB
max_worker_processes = {{ (ansible_processor_vcpus)|int }}
max_parallel_workers_per_gather = {{ (ansible_processor_vcpus/2)|int }}
max_parallel_workers = {{ (ansible_processor_vcpus)|int }}
log_timezone = 'UTC'
datestyle = 'iso, mdy'
lc_messages = 'en_US.utf8'
lc_monetary = 'en_US.utf8'
lc_numeric = 'en_US.utf8'
lc_time = 'en_US.utf8'
default_text_search_config = 'pg_catalog.english'
pg_partman_bgw.dbname = '{{ docker_env_pgsql_database_name }}'
shared_preload_libraries = 'pg_cron'
cron.database_name = '{{ docker_env_pgsql_database_name }}'
