error_list = ['ERROR(?!\s\[solrclient-cleanup-master\])(.*)','BUILD\ FAILED(.*)','\\[UpdatePlatformAntPerformableImpl\\]\\ Tenant\\ <<master>>\\ is\\ not\\ initialized,\\ perform\\ init\\ before\\ update\\.']
