[Unit]
Description="Self Hosted Github Runner"
Requires=cloud-final.service
After=cloud-final.service

[Service]
Type=simple
User=github
Environment=AWS_DEFAULT_REGION=us-east-1
WorkingDirectory=/home/github/ga
ExecStart=/home/github/ga/install.sh
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=github-runner

[Install]
WantedBy=multi-user.target