arr=(`pgrep -u "hybris" java`)
ENV={{ env }}
MOUNT_POINT=/opt/tdumps
current_date=`date +%Y-%d-%m_%H-%M-%S`
mkdir -p $MOUNT_POINT/$ENV
for item in ${arr[*]}
do
  top -p $item -H -b -n 1 > $MOUNT_POINT/$ENV/$ENV"_"$item"_"$current_date.topdump
  jstack $item > $MOUNT_POINT/$ENV/$ENV"_"$item"_"$current_date.tdump
  cd $MOUNT_POINT/$ENV
  tar cvzf AWEU_dump_$ENV"_"$item"_"$current_date.tar.gz $ENV"_"$item* --remove-files
done