DROP TABLE IF EXISTS zversion;
CREATE TABLE IF NOT EXISTS zversion (Date DATETIME DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, Version VARCHAR(50) NOT NULL DEFAULT 'Unknown', PRIMARY KEY(Version));
INSERT INTO zversion (Version) VALUES('{{ hybris_deploy_version }}');
