apiVersion: 1

datasources:
  - name: Zabbix
    type: alexanderzobnin-zabbix-datasource
    url: "http://{{ apache_server_name }}/api_jsonrpc.php"
    access: proxy
    isDefault: true
    jsonData:
      username: "Admin"
      password: {{ zabbix_admin_password }}
      
      # Trends options
      trends: true
      trendsFrom: "{{ grafana_trends_from }}"
      trendsRange: "{{ grafana_treands_range }}"
      
      # Cache update interval
      cacheTTL: "{{ grafana_trends_ttl }}"
      
      # Alerting options
      alerting: true
      addThresholds: {{ grafana_treshholds }}
      alertingMinSeverity: {{ grafana_alert_min_severity }}
      
      # Disable acknowledges for read-only users
      disableReadOnlyUsersAck: true
      
      # Direct DB Connection options
      dbConnectionEnable: true
      
      # Name of existing datasource for Direct DB Connection
      dbConnectionDatasourceName: MySQL Zabbix
      
      dbConnectionRetentionPolicy: one_year
    version: 1
    editable: false

  - name: MySQL Zabbix
    type: mysql
    url: {{ mysql_server_address }}:{{ mysql_server_port }}
    database: {{ mysql_zabbix_database }}
    user: grafana
    password: {{ lookup('password', '/tmp/garana-passwordfile') }} 
