[mysqld]
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
socket=/var/lib/mysql/mysql.sock
symbolic-links=0
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
port=3306
datadir=/opt/media/mysql
tmpdir=/tmp
lc-messages-dir=/usr/share/mysql



default_storage_engine=InnoDB
innodb_buffer_pool_size=5674M
innodb_flush_log_at_trx_commit=0
max_connections=400
character_set_server=utf8

[mysqldump]
quick
quote-names
max_allowed_packet=16M

