<VirtualHost {{ apache_listen_address }}:{{ apache_listen_port }}>
  ServerName {{ apache_server_name }}
  {% for alias in apache_server_aliases %}
  ServerAlias {{ alias }}
  {% endfor %}
  
  ## Vhost docroot
  DocumentRoot "/usr/share/zabbix"
  ProxyPassReverse /grafana http://localhost:{{ misc_grafana_port }}

  <Location "/grafana">
    ProxyPass http://localhost:{{ misc_grafana_port }}
  </Location>
</VirtualHost>


<Directory "/usr/share/zabbix">
    Options FollowSymLinks
    AllowOverride None
    Require all granted

    <IfModule mod_php5.c>
        php_value max_execution_time {{ php_value_max_execution_time }}
        php_value memory_limit {{ php_value_memory_limit }}
        php_value post_max_size {{ php_value_post_max_size }}
        php_value upload_max_filesize {{ php_value_upload_max_filesize }}
        php_value max_input_time {{ php_value_max_input_time }}
        php_value max_input_vars {{ php_value_max_input_vars }}
        php_value always_populate_raw_post_data -1
        php_value date.timezone {{ php_value_timezone }} 
    </IfModule>
</Directory>

<Directory "/usr/share/zabbix/conf">
    Require all denied
</Directory>

<Directory "/usr/share/zabbix/app">
    Require all denied
</Directory>

<Directory "/usr/share/zabbix/include">
    Require all denied
</Directory>

<Directory "/usr/share/zabbix/local">
    Require all denied
</Directory>
