.idea
*.pyc
.terraform
*.tfstate.backup
.vscode
*.retry
lean_delivery.*
openmicroscopy.ssl-certificate
ansible-role-nginx
gantsign.intellij
bertvv.mariadb
gantsign.maven
shelleg.gradle
ansible/roles/sonarqube-scanner
ansible/roles/nginxinc.nginx
ansible-eu/roles/ansibleshipyard.ansible-zookeeper
