{
        "auths": {
                "nexus.hybris.eia.amway.net:8083": {
                        "auth": "ZG9ja2VyOmRvY2tlcg=="
                }
        },
        "HttpHeaders": {
                "User-Agent": "Docker-Client/18.09.1 (linux)"
        }
}

