### Option: zabbix.listenIP
LISTEN_IP="{{ zabbix_server_java_listen_ip }}"

### Option: zabbix.listenPort
LISTEN_PORT={{ zabbix_server_java_listen_port }}

### Option: zabbix.pidFile
PID_FILE="{{ zabbix_server_java_pid_file }}"

### Option: zabbix.startPollers
START_POLLERS={{ zabbix_server_java_start_pollers }}

### Option: zabbix.timeout
TIMEOUT={{ zabbix_server_java_timeout }}

# uncomment to enable remote monitoring of the standard JMX objects on the Zabbix Java Gateway itself
#JAVA_OPTIONS="$JAVA_OPTIONS -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=12345
#	-Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false"
