### Option: ListenPort (10051)
ListenPort={{ zabbix_server_port }}

### Option: SourceIP (None)
{% if zabbix_server_sourceip is defined and zabbix_server_sourceip %}
SourceIP={{ zabbix_server_sourceip }}
{% endif %}


### Option: LogType (file)
LogType={{ zabbix_server_logtype }}

### Option: LogFile (/var/log/zabbix/zabbix_server.log)
LogFile={{ zabbix_server_log_file }}

### Option: LogFileSize (50 mb)
LogFileSize={{ zabbix_server_log_file_size }}

### Option: DebugLevel (3 - warning)
DebugLevel={{ zabbix_server_log_level }}

### Option: PidFile (/var/run/zabbix/zabbix_server.pid)
PidFile={{ zabbix_server_pid_file }}

### Option: SocketDir (/var/run/zabbix)
SocketDir={{ zabbix_server_socket_dir }}

### Option: DBHost
DBHost={{ mysql_server_address }}

### Option: DBName
DBName={{ mysql_zabbix_database }}

### Option: DBUser
DBUser={{ mysql_zabbix_username }}

### Option: DBPassword
DBPassword={{ mysql_zabbix_password }}

### Option: DBPort
DBPort={{ mysql_server_port }}


############ ADVANCED PARAMETERS ################
### Option: StartPollers
StartPollers={{ zabbix_server_start_pollers }}

### Option: StartPreprocessors
StartPreprocessors={{ zabbix_server_start_preprocesses }}

### Option: StartPollersUnreachable
StartPollersUnreachable={{ zabbix_server_start_pollers_unreachable }}

### Option: StartTrappers
StartTrappers={{ zabbix_server_start_trappers }}

### Option: StartPingers
StartPingers={{ zabbix_server_start_pingers }}

### Option: StartDiscoverers
StartDiscoverers={{ zabbix_server_start_discoverers }}

### Option: StartHTTPPollers
StartHTTPPollers={{ zabbix_server_start_http_pollers }}

### Option: StartTimers
StartTimers={{ zabbix_server_start_timers }}

### Option: StartEscalators
StartEscalators={{ zabbix_server_start_escalators }}

### Option: StartAlerters
StartAlerters={{ zabbix_server_start_alerters }}

### Option: JavaGateway
JavaGateway={{ zabbix_server_java_gateway_address }}

### Option: JavaGatewayPort
JavaGatewayPort={{ zabbix_server_java_gateway_port }}

### Option: StartJavaPollers
StartJavaPollers={{ zabbix_server_start_java_pollers }}

### Option: SNMPTrapperFile
SNMPTrapperFile=/var/log/snmptrap/snmptrap.log

### Option: StartSNMPTrapper
StartSNMPTrapper=0

### Option: ListenIP
# ListenIP=127.0.0.1

### Option: HousekeepingFrequency
HousekeepingFrequency={{ zabbix_server_housekeeping_frequency }}

### Option: MaxHousekeeperDelete
MaxHousekeeperDelete=50000


### Option: CacheSize
CacheSize={{ zabbix_server_cache_size }}

### Option: CacheUpdateFrequency
CacheUpdateFrequency={{ zabbix_server_update_cache_frequency }}

### Option: StartDBSyncers
StartDBSyncers={{ zabbix_server_start_db_syncers }}

### Option: HistoryCacheSize
HistoryCacheSize={{ zabbix_server_history_cache_size }}

### Option: HistoryIndexCacheSize
HistoryIndexCacheSize={{ zabbix_server_history_index_cache }}

### Option: TrendCacheSize
TrendCacheSize={{ zabbix_server_trend_cache_size }}

### Option: ValueCacheSize
ValueCacheSize={{ zabbix_server_value_cache_size }}

### Option: Timeout
Timeout={{ zabbix_server_timeout }}

### Option: TrapperTimeout
# TrapperTimeout=300

### Option: UnreachablePeriod
# UnreachablePeriod=45

### Option: UnavailableDelay
# UnavailableDelay=60

### Option: UnreachableDelay
# UnreachableDelay=15

### Option: AlertScriptsPath
AlertScriptsPath={{ zabbix_server_alertscripts_path }}

### Option: ExternalScripts
ExternalScripts={{ zabbix_server_externalsripts_path }}

### Option: FpingLocation
FpingLocation=/usr/sbin/fping

### Option: Fping6Location
# Fping6Location=/usr/sbin/fping6

### Option: SSHKeyLocation
# SSHKeyLocation=

### Option: LogSlowQueries
LogSlowQueries={{ zabbix_server_log_slow_query }}

### Option: TmpDir
# TmpDir=/tmp

### Option: StartProxyPollers
StartProxyPollers={{ zabbix_server_start_proxy_pollers }}

### Option: ProxyConfigFrequency
ProxyConfigFrequency={{ zabbix_server_proxy_config_frequency }}

### Option: ProxyDataFrequency
ProxyDataFrequency={{ zabbix_server_proxy_data_frequency }}

### Option: StartLLDProcessors
StartLLDProcessors={{ zabbix_server_start_lldp }}

### Option: AllowRoot
AllowRoot={{ zabbix_server_allow_root }}

### Option: User
User={{ zabbix_server_run_as_user }}

### Option: Include
# Include=
# Include=/usr/local/etc/zabbix_server.general.conf
# Include=/usr/local/etc/zabbix_server.conf.d/
# Include=/usr/local/etc/zabbix_server.conf.d/*.conf

### Option: SSLCertLocation
# SSLCertLocation=${datadir}/zabbix/ssl/certs

### Option: SSLKeyLocation
# SSLKeyLocation=${datadir}/zabbix/ssl/keys

### Option: SSLCALocation
# SSLCALocation=

### Option: StatsAllowedIP
StatsAllowedIP=127.0.0.1

####### LOADABLE MODULES #######
### Option: LoadModulePath
# LoadModulePath=${libdir}/modules

### Option: LoadModule
# LoadModule=

####### TLS-RELATED PARAMETERS #######
### Option: TLSCAFile
# TLSCAFile=

### Option: TLSCRLFile
# TLSCRLFile=

### Option: TLSCertFile
# TLSCertFile=

### Option: TLSKeyFile
# TLSKeyFile=
