# Ansible managed

[client]
#password = your_password
port = 3306
socket = /var/run/mysqld/mysqld.sock

[mysqld]
user = mysql
port = 3306
bind-address = 0.0.0.0
datadir = /var/lib/mysql
socket = /var/run/mysqld/mysqld.sock
pid-file = /var/run/mysqld/mysqld.pid

# Logging configuration.
general-log = 1
general_log_file = /var/log/mysqld.log
log-error = /var/log/mysqld.log

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links = 0

# http://dev.mysql.com/doc/refman/5.5/en/performance-schema.html
;performance_schema

# Memory settings.
key_buffer_size = 83886080
max_allowed_packet = 16M
table_open_cache = 400
sort_buffer_size = 1M
read_buffer_size = 1310720
read_rnd_buffer_size = 4M
myisam_sort_buffer_size = 64M
thread_cache_size = 8
max_connections = 400
tmp_table_size = 16M
max_heap_table_size = 16M
group_concat_max_len = 1024
join_buffer_size = 262144

# Other settings.
wait_timeout = 28800
lower_case_table_names = 1
event_scheduler = OFF

# InnoDB settings.
innodb_large_prefix = 1
innodb_file_format = barracuda
innodb_file_per_table = 1
innodb_buffer_pool_size = 6144M
innodb_log_file_size = 64M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 0
innodb_lock_wait_timeout = 50

# Additional parameters 
lc-messages-dir = /usr/share/mysql
thread_stack = 192K
character_set_server = utf8
sync_binlog = 0
transaction_isolation = REPEATABLE-READ
innodb_buffer_pool_instances = 8
innodb_purge_threads = 4
innodb_flush_method = O_DIRECT
innodb_io_capacity_max = 300
innodb_io_capacity = 250

[mysqldump]
quick
max_allowed_packet = 64M

[mysqld_safe]
pid-file = /var/run/mysqld/mysqld.pid
